<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yjlw.ddms">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 支付宝要用到的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 友盟分享需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <application
        android:name=".application.xUtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图的操作 -->
        <!-- 百度地图密钥（原海忠）(eaeSfIvDQCl2GpaGQeS95oGb4M5xzlcw) -->
        <!-- 百度地图秘钥（姜文莒）（uateLaRmBx2wno9FxZbvnH5drGSFbpwY） -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uateLaRmBx2wno9FxZbvnH5drGSFbpwY"/>
        <!-- 欢迎界面 -->
        <activity android:name=".mainactivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 新手引导页 -->
        <activity android:name=".mainactivity.GuideActivity">
        </activity>
        <!-- 主页面 -->
        <activity android:name=".mainactivity.MainActivity">
        </activity>
        <!-- 购物车界面 -->
        <activity android:name=".homeentity.activity.ShoppingCartActivity">
        </activity>
        <!-- 热门菜谱界面 -->
        <activity android:name=".fristentity.activity.HotTitleActivity"/>
        <!-- 到家的标签详情页面的处理 -->
        <activity android:name=".homeentity.activity.HomeLabelActivity">
        </activity>
        <!-- 热门活动界面 -->
        <activity android:name=".fristentity.activity.HotActivity"/>
        <!-- 图片跳转页面 -->
        <activity android:name=".fristentity.activity.PhotoActivity"/>
        <!-- 厨房宝典跳转页面 -->
        <activity android:name=".fristentity.activity.KitchenActivity"/>
        <!-- 厨房宝典图片web页面 -->
        <activity android:name=".fristentity.activity.PhotoWebActivity"/>
        <!-- 菜谱分类页面 -->
        <activity android:name=".fristentity.activity.MenuSortActivity"/>
        <!-- 看视频页面 -->
        <activity android:name=".fristentity.activity.LookVideoActivity"/>
        <activity android:name=".baidumap.BaiduMapBaseActivity">
        </activity>
        <!-- 用户登录 -->
        <activity android:name=".aboutme.activity.LoginActivity"/>
        <!-- 用户注册 -->
        <activity android:name=".aboutme.activity.RegistActivity"/>
        <activity android:name=".aboutme.activity.AddressManageActivity"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <!-- 获取位置 -->
        <activity android:name=".baidumap.LocationActivity">
        </activity>
        <activity android:name=".baidumap.PoiSearchNearByDemo"/>
        <!-- 特价趁现在 -->
        <activity android:name=".homeentity.activity.EveryBargainPriceActivity">
        </activity>
        <!-- 美食研究所 -->
        <activity android:name=".homeentity.activity.CateActivity">
        </activity>
        <!-- 吃货最爱 -->
        <activity android:name=".homeentity.activity.FoodieLikeActivity">
        </activity>
        <!-- 热门排行榜 -->
        <activity android:name=".fristentity.activity.HotRankActivity"/>
        <!-- 新手活动 -->
        <activity android:name=".fristentity.activity.NewActivity"/>
        <!-- 视频播放 -->
        <activity android:name=".fristentity.activity.VideoActiviry"/>
        <!-- 产品评论 -->
        <activity android:name=".homeentity.activity.ProductCommentActivity">
        </activity>
        <!-- 购买商品 -->
        <activity android:name=".homeentity.activity.BuyProductActivity">
        </activity>
        <!-- list条目 -->
        <activity android:name=".fristentity.activity.ListActivity"/>
        <!-- 热门活动跳转 -->
        <activity android:name=".fristentity.activity.HotSkipActivity"/>
        <!-- 阿里支付 -->
        <activity android:name=".homeentity.activity.ShoppingAliPayActivity">
        </activity>
        <!-- 热门分类 -->
        <activity android:name=".fristentity.activity.HotClassActivity"/>
        <!-- 热门分类跳转 -->
        <activity android:name=".fristentity.activity.HotClassSkipActivity"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583c327b8f4a9d5c44001340"/>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 这里需要配置自己QQ互联的AppID:tencentXXXXXX，和代码中保持一致 -->
                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDialog">
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- *************************    分享相关的注册 END **************************** -->
        <receiver
            android:name=".baidumap.receiver.BaiduMapReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <activity android:name=".aboutme.activity.RegionChoiceActivity">
        </activity>

        <!-- 实时热点的activity注册-->
        <activity android:name=".squareentity.fragment.activity.RealTimeActivity"/>
        <!-- 家常菜的activity注册-->
        <activity android:name=".squareentity.fragment.activity.JiaChangCaiActivity"/>
    </application>

</manifest>