<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yjlw.ddms">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.xUtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎界面 -->
        <activity android:name=".mainactivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 新手引导页 -->
        <activity android:name=".mainactivity.GuideActivity">
        </activity>
        <!-- 主页面 -->
        <activity android:name=".mainactivity.MainActivity">
        </activity>
        <!-- 购物车界面 -->
        <activity android:name=".homeentity.activity.ShoppingCartActivity">
        </activity>
        <!-- 热门菜谱界面 -->
        <activity android:name=".fristentity.activity.HotTitleActivity"/>
        <!--到家的标签详情页面的处理-->
        <activity android:name=".homeentity.activity.HomeLabelActivity">
        </activity>
        <!--热门活动界面-->
        <activity android:name=".fristentity.activity.HotActivity"/>
        <!--图片跳转页面-->
        <activity android:name=".fristentity.activity.PhotoActivity"/>
        <!--厨房宝典跳转页面-->
        <activity android:name=".fristentity.activity.KitchenActivity"/>
    </application>

</manifest>